services:
  static_render:
    container_name: static_render
    image: static_render:latest
    build:
      context: .
      dockerfile: Dockerfile
    pull_policy: never
    volumes:
      - .:/project
    command: |
      sleep 60m


    # R -e "renv::install(c('rmarkdown', 'pkgdepends'))" && quarto render
      
    # && \
    #   # cp ./hugo/public ./_public