services:
  static_render:
    container_name: static_render
    # image: nd_site-render_static:latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    # pull_policy: never
    image: ghcr.io/endikau/nd_site-static_render:latest
    volumes:
      - .:/project
    command: |
      quarto render && \
        sleep infinity
  static_serve:
    container_name: static_serve
    image: joseluisq/static-web-server:2-alpine
    restart: unless-stopped
    ports: 
      - 12345:80
    environment:
      - SERVER_ROOT=/var/public
    volumes:
      - ./_public:/var/public:ro

    # R -e "renv::repair()"
    # R -e "renv::snapshot()"